{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{{ super() }}
<div style="margin-top: 50px;" class="container">
    <h3>Categories list</h3>

    <ul>
        {% for category in categories %}
        <li class="c">
            <div>
                {{ category.name }}
            </div>
            <a href="{{ url_for('edit_category',id=category.id) }}" class="btn btn-outline-secondary btn-sm">Edit Category</a>
            <a href="{{ url_for('delete_category',id=category.id) }}" class="btn btn-outline-danger btn-sm">Delete Category</a>
        </li>
        {% endfor %}
        <a href="{{ url_for('add_categories') }}" class="btn btn-outline-secondary btn-sm">Add new category</a>
    </ul>


    
</div>
{% endblock %}