{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
{{ super() }}
<div style="margin-top: 50px;" class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}
    <h3>Log In</h3>

    {{ render_form(form) }}
</div>
{% endblock %}